
body{
    font: 20px Arial, sans-serif;
}
.navbar {
    background-color:#E3D1A7;
}
.quem-somos{
    background-color: #56C4EE;
    color: white;
}

.margin{
   padding-bottom: 50px;
   padding-top: 10px;
}
.parceiros{
    background-color: #BAC5CA;
}

.bg-footer{
    background-color: black;
    color: white;
}